{% extends 'admin/layout.html' %}
{% import 'macros.html' as macro %}

{% block breadcrumb %}
 <span class="items-center px-2 py-1 rounded bg-gray-200 inline-flex text-gray-700 ml-2">{{macro.svg('user')}} Users</span>
{% endblock %}

{% block options %} 
<a href="{{url_for('.user_create')}}" class="btn-round btn-orange items-center inline-flex">
	{{macro.svg('user', 5)}} <span class="ml-2">New</span>
</a>

{% endblock %}

{% block page_content %}
{% if users %}
<form method="post">
	<table>
		<thead>
			<th class="w-6"><input id="selectAll" type="checkbox"> </th>
	
			<th class="text-left">Username</th>
			<th class="text-left">Last modified</th>
		</thead>

		<tbody>
			{% for u in users.items %}
				<tr>
					<td>
						<input class="check" type="checkbox" name="user_id" value="{{u.uuid}}">
					</td>
					<td><a href="{{url_for('.user_update', uuid=u.uuid)}}">{{u.username}}</a></td>
					<td>{{u.modified}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="mb-4 pager">
		<button class="btn-sm btn-red">Delete</button>
	</div>
</form>
{{macro.pagination(users, '.user_list' )}}
{% else %}
	{% include 'no_records.html' %}
{% endif %}


{% endblock %}
