{% extends 'dashboard/layout.html' %}
{% import 'macros.html' as macro %}

{% block title %} Users {% endblock %}

{% block page_content %}
  <div class="bg-white border-t border-b sm:border-l sm:border-r sm:rounded shadow mb-6">
      <div class="border-b px-6">
        <div class="flex justify-between -mb-px">
          <div class="lg:hidden text-blue-dark py-4 text-lg">
            User Editor
          </div>
          <div class="hidden lg:flex">
          ??
	  </div>
        </div>
      </div>
      <div class="flex items-center px-6 lg:hidden">
	{{ macro.quick_form(form)}}
      </div>
</div>

{% endblock %}
