{% extends 'admin/layout.html' %}
{% import 'macros.html' as macro %}

{% block breadcrumb %}
{{macro.render_breadcrumb_link('courses',url_for('.course_list'), 'list')}}
{{macro.render_breadcrumb_link(action, '')}}
{% endblock %}


{% block options %} 

{% endblock %}

{% block sidebar %} 
{{macro.render_dashboard_sidebar(url_for('.widget_list'))}}
{% endblock %}
{% block page_content %}
	<form  method="post" novalidate>
		{{form.hidden_tag()}}
		<div class="mb-4">
			<input id="name" 
				type="text" 
				name="name"
				class="field-lg"
				placeholder="Widget Name"
				value="{% if widget %}{{widget.name}}{% endif %}">
			{{macro.field_error(form.name) }}
		</div>
		<div class="mb-4">
			<button class="btn btn-green">Save</button>
		</div>
	</form>
{% endblock %}
