{% extends 'auth/layout.html' %}
{% import 'macros.html' as macro %}

{%block title %} Login {% endblock %}

{% block heading %} Welcome Back {% endblock %}



{% block page_content %}
	{{macro.quick_form(form, button_text='Login')}}
	<div class="text-center">
								<a
									class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
									href="{{url_for('.register')}}"
								>
									Create an Account!
								</a>
							</div>
							<div class="text-center">
								<a
									class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
									href="{{url_for('.reset_password')}}"
								>
									Forgot Password?
								</a>
							</div>	
{% endblock %}
