{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<h2>Password Reset</h2>

<form method="post">
	<div class="mb-4">
		<label class="field-label" for="">Password</label>
		<input class="field" type="password" name="password">
	
		{{ macro.field_error(form.password)}}
	</div>
	<div class="mb-4">
		<label class="field-label" for="">Repeat Password</label>
		<input  class="field" type="password" name="password2">
		{{macro.field_error(form.password2)}}
	</div>
	<button class="btn btn-green">Reset</button>
	{{form.csrf_token}}
</form>

{% endblock %}
