{% extends 'auth/layout.html' %}
{% import 'macros.html' as macro %}


{% block title %} Register{% endblock %}

{% block heading %} Create Account {% endblock %}


{% block page_content %}
	{{macro.quick_form(form, button_text='Register')}}
			<hr class="mb-6 border-t" />
							<div class="text-center">
								<a
									class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
									href="{{url_for('.reset_password')}}"
								>
									Forgot Password?
								</a>
							</div>
							<div class="text-center">
								<a
									class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
									href="{{url_for('.login')}}"
								>
									Already have an account? Login!
								</a>
							</div>
{% endblock %}
