{% extends 'main/layout.html' %}
{% import 'macros.html' as macro %}
{% block title %} {{post.title }} {% endblock %}

{% block page_content %}
	<!--Container-->
	<div class="container max-w-5xl mx-auto">
		<div class="mx-0 sm:mx-6">

			<div class="bg-white w-full p-8 md:p-16 text-lg text-gray-800 leading-normal">
	<h2 class="w-full my-8 text-4xl font-bold leading-tight text-gray-800">
		{{post.title}}
	</h2>

				<!--Post Content-->
	
	{% if post.image %}
	<!--image-->
	<div class="container w-full max-w-6xl mx-auto bg-white bg-cover mt-4 mb-4 rounded" style="background-image:url('{{post.imgsrc}}'); height: 75vh;"></div>

	{% endif %}
	<div class="markdown">

				{% if post.body_html %}
					{{ post.body_html |safe }}
				{% else %}
					{{post.body}}
				{% endif %}
	</div>

			</div>

	</div>


	</div>

	<div class="bg-gray-200">

		<div class="container w-full max-w-6xl mx-auto px-2 py-8">
			<div class="flex flex-wrap -mx-2">
				{% for c in courses %}
				<div class="w-full md:w-1/3 px-2 pb-12">
					<div class="h-full bg-white rounded overflow-hidden shadow-md hover:shadow-lg relative smooth">
						<a href="{{url_for('.course', slug=c.slug)}}" class="no-underline hover:no-underline">
						
							{% if c.image %}
							<img src="{{c.imgsrc}}" class="h-48 w-full rounded-t shadow-lg">{% endif %}
								<div class="p-6 h-auto md:h-48">
							<div class="font-bold text-xl text-gray-900">{{c.title}}</div>
									<div class="text-gray-800 text-base mb-5">
									{{c.body_html| safe |truncate(100)}}
									</div>
								</div>

						</a>
					</div>
				</div>
				{% endfor %}
						</div>
		</div>


		</div>

{% endblock %}
